<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <header class="menu-bar">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer>
      <h1>  www.mywebsite.com </h1>
    </footer>
    
</body>
</html>